name: Npm Publish

on: 
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            ref: master
      - name: Use Node
        uses: actions/setup-node@v3
        with:
            node-version: '16.x'
      - name: Publish
        run: |
          npm publish
