name: Npm Publish

on: 
  release:
    types: [published]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            ref: master
      - name: Use Node
        uses: actions/setup-node@v4
        with:
            node-version: '24'
            registry-url: 'https://registry.npmjs.org'
      - name: Publish
        run: npm publish
